<div class="middle-page">
  <video autoplay loop muted id="background">
    <source src="/assets/video/open-door.mp4" type="video/mp4">
  </video>

  <div class="page-header">
    <h1 class="logo">Light Shop <small>Register new account</small></h1>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Register</h3>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-5 links">
          <a href="#" class="btn btn-lg btn-block btn-facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="hidden-xs">Facebook</span>
          </a>
        </div>

        <div class="col-sm-7 container">
          <form action="{{config.getServerUri() + '/v1/user/register'}}" method="POST" enctype="multipart/form-data" class="form-horizontal" #form>
            <div class="form-group">
              <input name="email" type="email" class="form-control" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
              <input name="username" type="text" class="form-control" placeholder="Enter Username" required>
            </div>
            <div class="form-group">
              <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Enter Password Again" required>
            </div>
            <div class="form-group">
              Profile Picture:
              <input type="file" name="profile_picture" accept="image/*" required>
            </div>
            <div class="row">
              <div class="col-sm-12">
                Already have an account? <a [routerLink]="['/auth/login']">Login here</a><br/>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg pull-right btn-submit" (click)="form.submit()">Register</button>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
