<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleCollapse()" [attr.aria-expanded]="!isNavbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['./']">
        <span><img class="img-brand" alt="Brand" src="/assets/icon/lock_red.png "></span>
        <span>Cutting Lock</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " [ngStyle]="{display: isNavbarCollapsed ? 'block' : 'none'} ">
      <ul class="nav navbar-nav ">
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './']">Index</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './home']">Home</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './detail']">Detail</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './barrel']">Barrel</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './about']">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]=" [ './login'] ">Login</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<pre class="app-state ">this.appState.state = {{ appState.state | json }}</pre>

<footer>
  <span>WebPack Angular 2 Starter by <a [href]="url ">@AngularClass</a></span>
  <div>
    <a [href]="url ">
      <img [src]="angularclassLogo " width="25% ">
    </a>
  </div>
</footer>
