<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleCollapse()" [attr.aria-expanded]="!isNavbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['./']">
        <span><img class="img-brand" alt="Brand" src="/assets/icon/lock-red.png "></span>
        <span>Cutting Lock</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " [ngStyle]="{display: isNavbarCollapsed ? 'block' : 'none'} ">
      <ul class="nav navbar-nav " (click)="toggleCollapse(false)">
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './']">Index</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './home']">Home</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './detail']">Detail</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './barrel']">Barrel</a></li>
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]="[ './about']">About</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right " (click)="toggleCollapse(false)">
        <li routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} "><a [routerLink]=" [ './auth/login'] ">Login</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<main id="wrap-main">
  <div id="main">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <ul class="fa-ul">
      <li>
        <i class="fa-li fa fa-envelope"></i> Contact CuttingLock team at <a href="mailto:support@cuttinglock.com?Subject=Hello!"
          target="_top">support@cuttinglock.com</a>
      </li>
      <li>
        <i class="fa-li fa fa-commenting"></i>
        <span class="text-muted">This is a homework website for NTHU CS542000 Cloud Programming. Please do not take this website seriously.</span>
      </li>
    </ul>
  </div>
</footer>
