p {
  color: #CCC;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: white no-repeat;
  background-size: cover;
}

.page-header h1 {
  color: white;
}

.page-header small {
  color: #eeeeee;
}

.middle-page {
  width: 700px;
  height: 600px;
  margin: auto;
}

.logo {
  color: #CCC;
}

.container {
  border-left: 1px solid #ccc;
  height: 150px
}

.btn-facebook {
  background: #3b5998;
}

.btn-twitter {
  background: #00aced;
}

.links a {
  color: white;
}

.form-group {
  margin: 4px 4px 8px;
}

.btn-submit {
  margin-top: 20px;
}
