<div class="container">
  <h1>Get History</h1>
  <table class="table table-hover">
    <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Identity</th>
        <th>Object</th>
        <th>Action</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of history">
        <th scope="row">{{ event.id }}</th>
        <td>{{ event.identity }}</td>
        <td>{{ event.object }}</td>
        <td>{{ event.action }}</td>
        <td>{{ event.date | date:'short' }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>

  <h1>Post History</h1>
  <form action="{{config.getServerUri() + '/v1/history'}}" method="POST" class="form-horizontal" #form>
    <div class="form-group">
      <label>Identity</label>
      <input name="identity" type="text" class="form-control" placeholder="Identity">
    </div>
    <div class="form-group">
      <label>Object</label>
      <input name="object" type="text" class="form-control" placeholder="Object">
    </div>
    <div class="form-group">
      <label>Action</label>
      <select name="action" class="form-control">
        <option>AUTHROIZED</option>
        <option>UNAUTHORIZED</option>
        <option>ACCESS-DENIED</option>
        <option>MODIFIED</option>
      </select>
    </div>
    <div class="form-group">
      <label>Date</label>
      <input name="date" type="text" class="form-control" placeholder="Date" [(ngModel)]="date">
    </div>
    <button type="submit" class="btn btn-info btn-lg pull-right btn-submit" (click)="form.submit()">Post SQS Message</button>
  </form>
</div>
